---
import SectionLayout from "../layouts/SectionLayout.astro";
import IntroCard from "./Cards/IntroCard.astro";
---

<SectionLayout title="introduction" header="公司簡介">
  <div class="flex flex-col justify-center items-center">
    <div class="flex flex-col justify-center items-start my-8">
      <h1 class="text-2xl sm:text-3xl p-1">良偉有限公司</h1>
      <h2 class="text-xl sm:text-2xl p-1">經銷 單軸螺旋泵浦</h2>
      <h2 class="text-xl sm:text-2xl p-1 text-sky-600">
        Progressive Cavity Pumps
      </h2>
      <hr class="w-full my-4 border" />
      <span class="sm:p-2 text-base sm:text-xl">
        良偉多年來秉持著讓客戶優先，以提供替客戶最適的方案解決難以輸送流體及低流動性產品順暢輸送的目標為宗旨。公司秉持良好服務、追求品質的信念，建立客戶信賴關係。未來良偉也會持續引進相關專業設備來服務客戶。
      </span>
    </div>
    <div class="flex flex-col p-2 lg:grid lg:grid-cols-2 lg:gap-2">
      <IntroCard
        title="工業級"
        body="單軸螺旋泵、單軸螺旋計量泵、雙軸螺旋泵、轉子泵"
      />
      <IntroCard title="衛生級" body="單軸螺旋泵、雙軸螺旋泵、轉子泵" />
      <IntroCard
        title="熱交換器(板式)"
        body="板式 、全焊板式、 寬通道板式、螺旋板式、殼板式、碳化矽板式"
      />
      <IntroCard title="熱交換器(殼式)" body="纏繞殼管式、碳化矽殼管式" />
    </div>
    <div class="flex flex-col justify-center items-start my-8">
      <h1 class="text-2xl sm:text-3xl p-1 font-medium">產品特性</h1>
      <hr class="w-full my-4 border" />
      <span class="sm:p-2 text-base sm:text-xl">
        良偉經銷多領域的泵浦設備，如環保產業、食品、飲料、石油、天然氣、石化、紙漿、造紙工業、化工、生物科技和許多其它產業。公司引進包含從德國(DE)、印度(IN)和中國(CN)等泵浦產品。公司經銷的產品製造商皆為研發能力優異的製造商，能因應客戶不同的設備需求並提供適當的產品。
        公司在處理高黏度、不易流動、含固物高及不會影響分子結構的高製程要求的泵浦產品具多年經驗，可提供客戶最佳設計方案與技術協助。
      </span>
    </div>
  </div>
</SectionLayout>
