---
export interface Props {
	title: string;
    header: string;
}

const { title } = Astro.props;
const { header } = Astro.props;
---

<div class="w-5/6 lg:w-3/5 2xl:w-1/2 p-4 text-gray-900" id={title}>
    <h1 class="text-4xl sm:text-6xl border-b-4 pb-6">{header}</h1>
    <slot />
</div>